NEXT_PUBLIC_APPWRITE_COLLECTION_ID=625d58178f625d512345
NEXT_PUBLIC_APPWRITE_ENDPOINT=http(s)://<ip-or-domain>/v1
NEXT_PUBLIC_APPWRITE_MATCHES_COLLECTION_ID=626e22de868388712345
NEXT_PUBLIC_APPWRITE_OVERS_COLLECTION_ID=62749ede99c49ec12345
NEXT_PUBLIC_APPWRITE_BATSCORE_COLLECTION_ID=62764048eedac4b12345
NEXT_PUBLIC_APPWRITE_PROJECT_ID=625a82927d049a512345